<h1>The demo</h1>
<p>This is the <a href="http://octobercms.com">October CMS</a> demo theme that explores the core features. You will find files used by this theme in the <strong>themes/demo</strong> directory of your installation.</p>
