div#about-page{
	padding:3em;
	
	@media (max-width: 760px){
		padding:0 1em 3em 1em;
	}
	.items{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		
		.left,.right{
			width:50%;
			@media (max-width: 760px){
				width: 100%;
			}
		}

		.left{
			input{
				width: 70%;
			}
			.advantages{
				display:flex;
				flex-direction:column;
				margin:2em 0;
				
				.item{
					display:flex;
					flex-direction:row;
					align-items:center;
					border:1px solid @color-border;
					width: 90%;
					padding: 1em 2em;
					margin:1em 0;
					@media (max-width: 760px){
						width: 100%;
					}
					.icon{
						height: 100px; width: 100px;
						img{
							max-height: auto;
							width: 100%;
						}
						margin-right:30px;
					}
					.text{
						h4{
							margin:0;
							margin-bottom:5px;
						}
						span{
							font-size: 85%;
						}
					}
				}
			}
		}
		.right{
			padding-left:110px;
			.payment{
				li{
					margin-bottom:10px;
					img{
						height: 40px;
						margin-right:10px;
					}
				}
			}

			.notes-block{
				margin-top:100px;
				p{
					font-weight: 500;
					font-size: 150%;
				}
				.notes{
					list-style:square;
				}
			}

			@media (max-width: 760px){
				padding-left: 0;
			}
		}
	}
}