#cart-page{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding:3em 0;

	.left{
		width: 50%;
		
		@media (max-width: 760px){
			width:100%;
		}
		
		.cart-product{
			display:flex;
			flex-direction:row;
			margin:2em 0;
			
			.image-product{
				width: 120px;
				height: 120px;
				border: 2px solid #4a4a4a;
				border-radius: 20px;
				padding: 1em;
			}

			.info-product{
				padding: 0 3em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.item{
					ul{
						li:last-child{
							padding-top: 15px;
							font-weight: 500;
							font-size: 150%;
						}
					}
				}
			}

			.button-product{
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.item-quantity{
					margin-bottom: 21px;
					display:flex;
					span{
						background:@color-secondary;
						width: 30px;
						display:flex;
						align-items:center;
						-webkit-justify-content: center;
						justify-content: center;
						color:white;
						cursor:pointer;
					}
					input{
						width: 45px;
						text-align:center;
					}

					.cart-plus{
						border-radius:20px 0 0 20px;
					}

					.cart-minus{
						border-radius:0 20px 20px 0;
					}

					span, input{
						height: 30px;
					}
				}
			}
		}
	}

	.right{
		width: 50%;

		@media (max-width: 760px){
			width:100%;
		}


		.header-order{
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
		}

		.inputs{
			margin-bottom:26px;
			.item-input{
				margin-top:18px;
				display:flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
				input{
					width: 48%;
				}
			}

			.ot{
				color: #999;
				font-size: 12px;
			}
		}

		.delivery{
			.ways{
				display:flex;
				.item{
					border:1px solid #ffffff;
					flex-grow:1;
					padding:8px;
					border-radius:10px;
					box-shadow: 0 0 2px #291f38;
					
					.top{
						color:@color-secondary;
						font-size: 110%;
						font-weight: 600;
					}
					.bottom{
						color: #3a3a3a;
						font-size: 12px;
					}

					&.border-left-none{
						border-left:none;
					}

					&.margin-item{
						margin:0 10px;
					}
				}
			}

			.info{
				margin: 18px 0;
				display: block;
				i{
					color:@color-primary;
				}
			}
		}


		.footer-order{
			margin: 26px 0;
			display:flex;

			.prices{
				flex-grow:1;
			}
			.button{
				flex-grow:1;
			}

			.button{
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				a{
					background: @color-secondary;
					padding:1.3em;
					color:white;
					font-weight: 500;
					border-radius:10px;
					
				}
			}
		}
	}

}



.btn-cart-modal{
	padding:.6em 1.2em;
	transition:all .3s ease;
	font-weight: 500;
	border-radius:5px;
	@media (max-width: 760px){
		font-size:10px;
	}
	
	&.blue{
		background: @color-secondary;
		color:white;
		border:2px solid @color-secondary;
		&:hover{
			color:@color-secondary;
			background: white;
			border:2px solid @color-border;
		}
	}
	&.white{
		background: white;
		color:@color-secondary;
		border:2px solid @color-border;
		&:hover{
			background: @color-secondary;
			color:white;
			border:2px solid @color-secondary;
		}
	}
}