div#contatcs-page{
  .map{
    position:relative;

    .about-block{
      position: absolute;
      top:0;
      background: white;
      z-index: 200;

      ul>li>a, .form-about{
        padding: 20px 30px;
      }

      ul{
        padding-top:3em;
        li{
          a{
            display: block;
            width: 100%;
            font-size: 110%;
            border-bottom:1px solid #f3f3f3;
            transition: all .3s ease;
            &:hover{
              background: @color-primary;
              color:white;
            }
          }
        }
      }

      .form-about{
        box-shadow: 0 0px 10px #989898;
        p{ color: @color-primary; font-weight: 600; }
        input{
          border-color:@color-primary;
          border-style: solid;
          color:@color-primary;
        }
        input,.select{
          padding: 0.5em;
          height: 45px;
          width: 90%;
          border-radius: 7px;
          font-weight: 500;
          transition: all .3s ease;

        }
        .select{
          background: @color-primary;
          color:white;
          .flex-container();
          margin-top:10px;
          &:hover{
            background: darken(@color-primary, 20%);
          }
        }
        .icons{
          padding:1em 0;
          width: 90%;
          .flex-container(space-between);

          a{
            border:2px solid;
            border-radius: 40px;
            height: 40px; width: 40px;
            .flex-container();
            i{
              font-size: 150%;
            }

            &.vk{
              color:#4a76a8;
              border-color:#4267b2;
            }
            &.face{
              color:#4267b2;
              border-color:#4267b2;
            }
            &.inst{
              color:#c934ac;
              border-color:#c934ac;
            }
            &.gp{
              color:#dd4d42;
              border-color:#dd4d42;
            }
          }
        }
      }
    }
  }

  .contatcs-information{
    background: #efefef;
    padding:3em 0;
    .information{
      display:flex;
      flex-wrap: wrap;
      .info{
        &.left{
          width: 35%;
          margin-top: 280px;
        }
        &.right{
          width: 65%;
        }
      }
    }
  }

  .contacts-form{
    padding:3em 0;
    .forms{
      display:flex;
      flex-wrap:wrap;
      .left{
        width: 35%;
      }
      .right{
        display:flex;
        width: 65%;
        .input-left,.input-right{
          padding:20px 0;
        }
        .input-left{
          display:flex;
          flex-direction: column;
          width: 50%;
          input{
            margin-bottom: .5em;
            border:2px solid @color-primary;
            border-radius: 7px;
            color:black;
            padding:1em;
          }
          a{
            text-align: center;
          }
        }
        .input-right{
          padding-left: 20px;
          width: 50%;
          textarea{
            border:2px solid @color-primary;
            border-radius: 7px;
            color:black;
            padding:1em;
          }
        }
      }
    }
  }
}
