.modal-content{
	@media (max-width: 760px){
		top:100px;
	}
}

#modal-cart{
	.modal-header{
		padding:2em 4em;
		@media (max-width: 760px){
			padding:2em 15px;
			
		}
		.header-btn{
			margin-top:20px;
		}
	}

	.modal-body{
		.cart-product{
			padding:2em 4em;
			display:flex;
			flex-direction:row;
			flex-wrap:wrap;
			@media (max-width: 760px){
				padding:2em 0;
			}
			
			.info-product, .button-product{
				flex-grow:1;
			}

			.button-product{
				@media (max-width: 760px){
					order: -1;
					width: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
			
			.image-product{
				img{
					width: 200px;
					border: 2px solid #4a4a4a;
					border-radius: 20px;
					padding: 1em;
				}

				@media (max-width: 760px){
					width: 50%;
					order: -1;
				}

			}

			.info-product{
				padding: 0 3em;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				
				@media (max-width: 760px){
					padding:0;
				}
				
				.item{
					ul{
						li{
							&:last-child{
								padding-top:30px;
								font-weight: 500;
								font-size:150%;
							}
						}
					}

					&.item-quantity{
						display:flex;
						.cart-plus, .cart-minus{
							background: @color-secondary;
							color:white;
							font-weight: 500;
							display:block;
							width: 40px;
							cursor:pointer;
							.flex-container();
						}

						.cart-plus, .cart-minus, input{
							height: 40px;
						}

						input{
							text-align:center;
							width: 100px;
						}

						.cart-plus{
							border-radius:20px 0 0 20px;
						}
						.cart-minus{
							border-radius:0 20px 20px 0;
						}
					}
				}

			}
		}
	}
}