@import 'zaglushka';
@import 'mixin';
@import 'var';
@import 'modal-cart';
@import 'about';
@import 'cart';
@import 'contacts';


header.header{
	.all-block{
		.flex-container(space-between);
		.elem{
			.flex-container();

			li{
				padding:.7em;
			}

			&.elem-right{
				li{
					border-right:1px solid #C1C1C1;
					@media (max-width: 750px){
						border-right:none;
					}
				}
			}

			&.elem-left{
				li{
					border-left:1px solid #C1C1C1;
					@media (max-width: 750px){
						border-left:none;
					}
				}
			}
		}
	}
}



div.search-category{
	padding:1em 0;
	background: @color-secondary;

	.inputs{
		.flex-container(space-between);

		input{
			padding: .8em 0;
		}


		.search-input, .search-submit{
			border:2px solid @color-secondary;
			font-weight: 500;

		}

		.search-input{
			width: 83%;
			padding-left:1em;
			color:@color-secondary;
			&::placeholder{
				color:@color-secondary;
				font-weight: 500;
			}
		}
		.search-submit{
			width: 15%;
			background:white;
			color:@color-secondary;
		}
	}
}


.breadcrumbs{
	padding-top:50px;
	ul{
		display:inline;
		li{
			display:inline;
		}
	}
}


.product-right{
	-webkit-box-shadow: 0 0px 19px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0px 19px rgba(0, 0, 0, 0.3);
	padding:2em;
	border-radius:30px;

	.name{
		font-size:25px;
		text-align:left;
		border-bottom:1px solid #eaeaea;
		padding-bottom:1em;
	}

	.price-block{
		padding:1em 0;
		.flex-container(space-between);

		.price{
			font-size:25px;
			color:#4a4a4a;
		}

		.in_cart{
			a{
				color:white;
				background: @color-primary;
				padding: 9px 25px 7px;
			}
		}
	}

	.form-product{
		border-top:3px dashed @color-border;
		margin-top:2em;

		.head{
			font-size: 20px;
			padding:1em 0;
			text-align:center;
		}

		.form{
			.flex-container();
			input[type="text"]{
				margin: 0 15px;
			}
			a{
				color:@color-primary;
				border:1px solid @color-primary;
				background: #FFF;
				font-weight: 500;
			}
			input,a{
				padding:.5em;
			}
		}

		.footer{
			color:black;
			font-size: 9.5px;
			font-weight: 600;
			padding-top:1em;
			.flex-container();

			.consent{
				color:@color-primary;
				border-bottom:1px solid @color-primary;
			}
		}
	}

}

.mini-link{
	padding:1em 0;
	.flex-container(end, center);
	i{
		font-size:40px;
		margin-right:10px;
	}
	i,a{
		color:#676767
	}
	a{
		border-bottom:1px dotted #676767;
		font-weight: 500;
		font-size: 12px;
	}
}

.click-category-list{
	background-image:linear-gradient(90deg, #ee7560, #ff5858);
	font-weight: 500;
	color:white;
	padding:.5em .7em;
	cursor:pointer;
}

.ps-widget__content{
	&.active{
		display:none;
	}
}


.categories{
	padding:2em;
	@media (max-width: 760px){
		padding:1em 0;
	}
	.items{
		display: flex;
		justify-content: space-between;

		@media (max-width: 760px){
			overflow: scroll;
		}

		a{
			border:1px solid @color-primary;
			color: @color-primary;
			padding:.6em 1.5em;
			font-weight: 500;
			border-radius:40px;
			transition:all .3s ease;
			display:flex;
			align-items:center;
			-webkit-justify-content: center;
			justify-content: center;
			@media (max-width: 760px){
				padding:.2em 1.5em;
			}
			&:hover{
				background-image:linear-gradient(90deg, #ee7560, #ff5858);
				color:white;
			}
		}
	}
}

.product-images{
	display:flex;
	@media (max-width: 760px){
		margin-bottom: 3em;
	}
	.big-image{
		width:80%;
	}
	.gallery{
		width:20%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		img{
			border:2px solid #eaeaea;
			width: 85px;
			height: 85px;
			padding: 5px;
			border-radius:5px;
		}
	}
}


div#footer{
	padding:3em;
	background: #282c2f;
	color:white;
	.items{
		display:flex;
		flex-wrap:wrap;

		.left{
			width: 30%;
			@media (max-width: 760px){
				width: 100%;
			}
			h2{
				color:white;
			}
			.item{
				margin-bottom:1em;
				&.social{
					p{
						color:white;
						font-weight: 500;
					}
					img{
						height: 30px;
						margin-right:10px;
						margin-top:3px;
					}
				}

				&.icons{
					img{
						height: 40px;
					}
				}
			}
		}

		.right{
			width: 70%;
			@media (max-width: 760px){
				margin-top:2em;
				width: 100%;
			}
			.header-footer{
				-webkit-justify-content: space-between;
				justify-content: space-between;
				display:flex;
				flex-direction:row;
				position: relative;
				padding-bottom: 11px;
				flex-wrap:wrap;
				h3,span{
					color:white;
				}

				.open-hours{
					height: 30px;
				}

				.border-footer{
					border-top:1px solid black;
					border-bottom:1px solid #404040;;
					position: absolute;
					width: 100%;
					bottom:0;
				}
			}

			.bottom-navigation{
				display: flex;
				justify-content: space-between;
				flex-wrap:wrap;

				ul{
					li{
						&:first-child{
							color: #4e4e4e;
							font-weight: 500;
							font-size: 117%;
							margin-top: 10px;
							margin-bottom: 10px;
						}
						a{
							font-size:95%;
							margin-top:3px;
						}
					}
				}
			}
		}
	}
}


.ps-section--hero{
	height:73px;
}


.banner-text{
	position: absolute;
	top: 14px;
	z-index: 100;
	color: white;
	font-size: 217%;
	text-transform: uppercase;
	font-weight: 500;
	width: 100%;
	text-align: center;
}

.header-num-mobile{
	@media (max-width: 760px){
		position: absolute;
		top: 136px;
		font-size: 119%;
		border: none;
		z-index: 20;
		font-weight: 500;
		left: 78px;

		&.sticky-mobile{
			position: fixed;
			top:3px;
		}
	}
}


.header__top{
	.all-block{
		.icons-soc{
			img{
				height: 23px;
				margin-right: 5px;
			}
		}
		.zakaz{
			background: @color-primary;
			padding:5px 15px;
			color:white;
			border-radius:30px;
			transition: all .3s ease;
			&:hover{
				background: darken(@color-primary, 10%);
			}
		}
	}
}
