@color-primary: #ee7560;
@color-secondary: #291f38;
@color-border:#eaeaea;

.margin-0{
	margin: 0;
}

.flex{
	display:flex;
}

.column{
	flex-direction: column;
}

.order1{
	order:1;
}

.bold{
	font-weight: 500;
}

.bolder{
	font-weight: 700;
}

.align-left{
	text-align:left;
}

.align-right{
	text-align:right;
}

.flex{
	display:flex;
}

.space-between{
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}

.d-xl-none{
	display:block;
	@media (max-width: 760px){
		display:none;
	}
}


.square-min{
	height: 40px;
	width: 40px;
	.flex-container();
}
