@import url('https://fonts.googleapis.com/css?family=Titan+One');

section#zaglushka{
	height: 100vh;
	max-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;


	.main-content{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		
		.text{
			
			p{
				margin:0;
				font-family: 'Titan One', cursive;
				font-size: 150px;
				line-height: 125px;
				display: table;
				background: linear-gradient(45deg, #820084 33%, #ea05c7 66%, #ffc9f4);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				@media (max-width: 760px){
					font-size: 100px;
					line-height: 94px;
				}
			}
		}

		.bottom-text{
			p{
				font-size: 30px;
				font-weight: 600;
				margin-top: 10px;
				margin-right: 55px;
				color:#ea05c7;
				text-transform:uppercase;
				@media (max-width: 760px){
					font-size: 20px;
					margin-right:10px;
				}
				
			}
		}
	}
}