title = "О компании"

url = "/about"

layout = "default"

is_hidden = 0

==

{% partial 'searchbox' %}

<div class="header--sidebar"></div>

{% partial 'header' %}

<div id="back2top"><i class="fa fa-angle-up"></i></div>

<div class="loader"></div>

<div class="page-wrap">

  {% partial 'banner' title="Доставка и оплата" %}

 <div id="about-page">
  <div class="container">
    <div class="items">


      <div class="left">
        <h3 class="bolder">Введите название Вашего города:</h3>
        <input type="text" placeholder="Москва, Москва, Россия">

        <div class="advantages">

          <div class="item">
            <div class="icon">
              <img src="{{ 'assets/images/about/delivery-truck.png' | theme }}" alt="">
            </div>
            <div class="text">
              <h4>Курьерская доставка 305 руб.</h4>
              <span>Примерная дата доставки: 07.11.2018</span>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="{{ 'assets/images/about/warehouse.png' | theme }}" alt="">
            </div>
            <div class="text">
              <h4>Пункт самовывоза - бесплатно</h4>
              <span>Выдают только готовые заказы <br>Приблизительная дата доставки 0.7.11.2018 <br> <a href="">Выбрать пункт выдачи</a></span>
            </div>
          </div>

          <div class="item">
            <div class="icon">
              <img src="{{ 'assets/images/about/post-office.png' | theme }}" alt="">
            </div>
            <div class="text">
              <h4>Почтой России 267 руб.</h4>
              <span>Цена рассчитывается с учетом тарифов Почты России</span>
            </div>
          </div>


        </div>

      </div>

      <div class="right">
        <h3 class="bolder">Способ оплаты</h3>
        
        <ul class="payment">
          <li><img src="{{ 'assets/images/about/accessory.png' | theme }}" alt=""> Наличными</li>
          <li><img src="{{ 'assets/images/about/sber.png' | theme }}" alt="">Оплата через Сбербанк по смс или Сбербанк Онлайн</li>
          <li><img src="{{ 'assets/images/about/visa.png' | theme }}" alt="">Оплата с произвольной банковской карты</li>
          <li><img src="{{ 'assets/images/social_payment/qiwi_sign_rgb.png' | theme }}" alt="">Оплата через QIWI Wallet</li>
        </ul>
        
        <div class="notes-block">
          <p>Примечания</p>
          <ul class="notes">
            <li>Доставляем по всей России, в Казахстан и в Беларусь</li>
            <li>Можно оплатить заранее, можно при получении</li>
            <li>Бесплатная доставка при заказе от 3500 руб (На беслпатную доставку цена доставки 1000руб. Мы отнимаем 400 рублей от этой цены)</li>
          </ul>
        </div>

      </div>



    </div>
  </div>
</div>


<!--footer-->

{% partial 'footer' %}

</div>