title = "Корзина"
url = "/cart"
layout = "default"
is_hidden = 0
==
{% partial 'searchbox' %}

<div class="header--sidebar"></div>

{% partial 'header' %}

<div id="back2top"><i class="fa fa-angle-up"></i></div>

<div class="loader"></div>

<div class="page-wrap">



    <!-- Heros-->

    {% partial 'banner' title="Корзина" %}

    <div class="container">

        <div id="cart-page">

          {% if Cart.items %}
            <div class="left">

                <h3>Ваши покупки</h2>

                {% for item in Cart.items %}

                <div class="cart-product">
                  <div class="image-product">
                    <img src="{{ item.img }}" alt="">
                </div>

                <div class="info-product">

                    <div class="item">
                      <ul>
                        <li>{{ item.name }}</li>
                        <li>Цвет: Красный</li>
                        <li>{{ item.price }} руб.</li>
                    </ul>
                </div>
            </div>

            <div class="button-product">
                <a href="" class='btn-cart-modal white' data-request="onClearCart">Удалить товар</a>

                <div class="item item-quantity">
                  <span class="cart-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                  <input type="number" value="{{ item.qty }}">
                  <span class="cart-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
              </div>
          </div>
      </div>

      {% endfor %}
  </div>


  <div class="right">
    <div class="header-order">
        <div><h3>Оформление заказа</h3></div>
        <div><a href="">Оформить заказ <br> как юридическое лицо</a></div>
    </div>

    <div class="inputs">
        <h4>Получатель</h4>
        <div class="item-input">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Имя Фамилия">
        </div>
        <span class="ot">Для отслеживания статуса заказа по смс и в личном кабинете</span><br>
    </div>

    <div class="delivery">
      <h4>Доставка в <a href="">Москва <i class="fa fa-angle-down" aria-hidden="true"></i></a></h4>
      <span class="info"><i class="fa fa-info-circle" aria-hidden="true"></i> Для заказа на сумму более 10000.00 руб доступны способы доставки:</span>

      <div class="ways">
        <div class="item">
          <span class='top'>Самовывоз: от 0 руб</span> <br>
          <span class='bottom'>завтра</span>
        </div>
        <div class="item margin-item">
          <span class='top'>Курьером: бесплатно</span> <br>
          <span class='bottom'>завтра</span>
        </div>
        <div class="item">
          <span class='top'>Почта 613 руб</span> <br>
          <span class='bottom'>до 7 ноября</span>
        </div>

      </div>
    </div>

    <div class="footer-order">
      <div class="prices">
        <div class="flex space-between">
          <div class="align-left"><h6>Товары:</h6></div> <div class="align-right"><h4>123</h4></div>
        </div>
        <div class="flex space-between">
          <div class="align-left"><h6>Доставка:</h6></div> <div class="align-right"> <h4>не выбрана</h4></div>
        </div>
        <div class="flex space-between">
          <div class="align-left"><h6>Итог без учета доставки:</h6></div><div class="align-right"><h4>10590руб</h4></div>
        </div>
      </div>
      <div class="button">
        <a href="" class="button_order">Оформить заказ</a>
      </div>
    </div>

  </div>
  {% else %}
  <div>Корзина пуста</div>
  {% endif %}

</div>

</div>

{% partial 'footer' %}
