title = "Категории"
url = "/catalog/:slug?"
layout = "default"
is_hidden = 0
==
<?php
function onStart(){
  $this['categories'] = \snapix\sladostey\Models\Category::all();

  if ( $this->param('slug') ){

    $category = \snapix\sladostey\Models\Category::where('slug','=', $this->param('slug') )->first();
    if ($category)
      $this['products'] = $category->products;
      $this['currentCategory'] = $category;
  } else {
      $this['products'] = \snapix\sladostey\Models\Product::all();
  }
}
?>

==

{% partial 'searchbox' %}

<div class="header--sidebar"></div>

{% partial 'header' %}

<div id="back2top"><i class="fa fa-angle-up"></i></div>

<div class="loader"></div>

<div class="page-wrap">

  <!-- Heros-->

 <!--  {% if (currentCategory) %}

  {% partial 'banner' title=currentCategory.name %}

  {% else %}

  {% partial 'banner' title="Магазин" %}

  {% endif %} -->




  <div class="search-category">
    <div class="container">
      <div class="inputs">
        <input type="text" class="search-input" placeholder="Поиск">
        <input type="submit" class="search-submit" value='Найти'>
      </div>
    </div>
  </div>




<div class="categories">
  <div class="container">
    <div class="items">
        {% for item in categories %}
            <a href="{{ 'kategorii' | page({ slug : item.slug }) }}"
            {% if (currentCategory.id == item.id)  %} class="current" {% endif %}>
              {{ item.name }}
            </a>
        {% endfor %}

    </div>
  </div>
</div>





  <div class="ps-section--page">

    <div class="container">

      <div class="row">

        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3">

          <div class="ps-shop-grid pt-80">

            <div class="ps-shop-features hidden">

              <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 "><img class="mb-30" src="{{'assets/images/product-banner/012x.jpg' | theme}}" alt="">

                </div>

                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 "><img class="mb-30" src="{{'assets/images/product-banner/022x.jpg' | theme}}" alt="">

                </div>

              </div>

            </div>

            <div class="ps-shop-filter mt-0">

              <div class="row">

                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 ">

                  <div class="form-group">

                    <label>Сортировка:</label>

                    <select class="ps-select" data-placeholder="Popupar product">

                      <option value="01">Популярность</option>

                      <option value="01">Цена по возрастанию</option>

                      <option value="02">Цена по возрастанию</option>

                      <option value="03">Название</option>

                    </select>

                  </div>

                </div>

                <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12 ">

                  <div class="form-group">

                    <label>Показывать:</label>

                    <select class="ps-select" data-placeholder="Show:">

                      <option value="01">SHOW</option>

                      <option value="02">Item 02</option>

                      <option value="03">Item 03</option>

                    </select>

                  </div>

                </div>

                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 ">

                  <ul class="ps-shop-switch">

                    <li class="active"><a href="product-listing.html"><i class="fa fa-th"></i></a></li>

                    <li><a href="product-grid.html"><i class="fa fa-list"></i></a></li>

                  </ul>

                </div>

              </div>

            </div>

            <div class="ps-shop ps-col-tiny">

              <div class="row">



                  {% if products %}

                      {% for item in products %}

                        {% partial 'card-product-category' product=item category=currentCategory %}

                      {% endfor %}

                  {% else %}



                  <p>Категория пуста</p>

                  {% endif %}



              </div>

              <div class="ps-pagination">

                <ul class="pagination">

                  <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>

                  <li class="active"><a href="#">1</a></li>

                  <li><a href="#">2</a></li>

                  <li><a href="#">3</a></li>

                  <li><a href="#">4</a></li>

                  <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>

                </ul>

              </div>

            </div>

          </div>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-lg-pull-9 col-md-pull-9">
          <div class="ps-sidebar">

             <aside class="ps-widget ps-widget--sidebar ps-widget--filter">
              <div class="ps-widget__header">
                <h3 class="ps-widget__title">Поиск по цене</h3>
              </div>
              <div class="ps-widget__content">
                <div class="ac-slider" data-default-min="300" data-default-max="2000" data-max="3450" data-step="50" data-unit="$"></div>
                <p class="ac-slider__meta">Стоимость:<span class="ac-slider__value ac-slider__min"></span>-<span class="ac-slider__value ac-slider__max"></span></p><a class="ac-slider__filter ps-btn ps-btn--xs" href="#">Фильтр</a>
              </div>
            </aside>


            <aside class="ps-widget ps-widget--sidebar ps-widget--category margin-0">
              <div class="ps-widget__header">
                <h3 class="click-category-list ps-widget__title">Сладости <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
              </div>
              <div class="ps-widget__content">
                <ul class="ps-list--circle">
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                </ul>
              </div>
            </aside>


              <aside class="ps-widget ps-widget--sidebar ps-widget--category margin-0">
              <div class="ps-widget__header">
                <h3 class="click-category-list ps-widget__title">Напитки <i class="fa fa-angle-down" aria-hidden="true"></i></h3>
              </div>
              <div class="ps-widget__content">
                <ul class="ps-list--circle">
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                    <li><a href=""><span class="circle"></span>Haribo</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="ps-section ps-section--subscribe pt-80 pb-80">

    <div class="container">

      <div class="ps-subscribe">

        <div class="row">

              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">

                <h4>SLADOSTEY.COM</h4>

                <p>Оптовый и розничный интернет-магазин эксклюзивных сладостей со всего мира,
                  с доставкой по всей России. Бесплатная доставка в любой город России,
                  при заказе свыше 2000 рублей.</p>

                <p class="text-uppercase ps-subscribe__highlight">г. Коломна, ул. Ленина, д. 20</p>

              </div>

              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 "><a class="ps-subscribe__logo" href="index.html"><img src="{{'assets/images/logo.png' | theme}}" alt=""></a>

              </div>

              <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">

                <h4>Подписка</h4>

                <p>Подписывайтесь на наши новости, чтобы быть в курсе о всех проходящих конкурсах и акциях.</p>

                <form class="ps-subscribe__form" method="post" action="_action">

                  <input class="form-control" type="text" placeholder="Введите свой email...">

                  <button class="ps-btn ps-btn--sm">Подписаться</button>

                </form>

              </div>

        </div>

      </div>

    </div>

  </section>


  <!--footer-->

  {% partial 'footer' %}

  <div class="modal-popup mfp-with-anim mfp-hide" id="quickview-modal" tabindex="-1">

    <button class="modal-close"><i class="fa fa-remove"></i></button>

    <div class="ps-product-modal ps-product--detail clearfix">

      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">

        <div class="ps-product__thumbnail">

          <div class="quickview--main" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">

            <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-12.jpg' | theme}}" alt=""></div>

            <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-11.jpg' | theme}}" alt=""></div>

            <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-10.jpg' | theme}}" alt=""></div>

            <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-6.jpg' | theme}}" alt=""></div>

            <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-5.jpg' | theme}}" alt=""></div>

          </div>

          <div class="quickview--thumbnail" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="20" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;"><img src="{{'assets/images/cake/img-cake-12.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-11.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-10.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-6.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-5.jpg' | theme}}" alt=""></div>

        </div>

      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">

        <header>

          <h3 class="ps-product__name">Anytime Cakes</h3>

          <select class="ps-rating">

            <option value="1">1</option>

            <option value="1">2</option>

            <option value="1">3</option>

            <option value="1">4</option>

            <option value="5">5</option>

          </select>

          <p class="ps-product__price">£15.00 <del>£25.00</del></p>

          <div class="ps-product__meta">

            <p><span> Availability: </span> In stock</p>

            <p class="category"><span>CATEGORIES: </span><a href="product-grid.html">Cupcake</a>,<a href="product-grid.html">organic</a>,<a href="product-grid.html"> sugar</a>,<a href="product-grid.html"> sweet</a>,<a href="product-grid.html"> bio</a></p>

          </div>

          <div class="form-group ps-product__size">

            <label>Size:</label>

            <select class="ps-select" data-placeholder="Popupar product">

              <option value="01">Choose a option</option>

              <option value="01">Item 01</option>

              <option value="02">Item 02</option>

              <option value="03">Item 03</option>

            </select>

          </div>

          <div class="ps-product__shop">

            <div class="form-group--number">

              <button class="minus"><span>-</span></button>

              <input class="form-control" type="text" value="1">

              <button class="plus"><span>+</span></button>

            </div>

            <ul class="ps-product__action">

              <li><a href="#" data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>

              <li><a href="#" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>

            </ul>

          </div>

        </header>

        <footer><a class="ps-btn--fullwidth ps-btn ps-btn--sm" href="#">Purchase<i class="fa fa-angle-right"></i></a>

          <p class="ps-product__sharing">Share with:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-twitter"></i></a></p>

        </footer>

      </div>

    </div>

  </div>

</div>
