title = "Контакты"
url = "/kontakty"
layout = "default"
is_hidden = 0
==
{% partial 'searchbox' %}
<div class="header--sidebar"></div>
{% partial 'header' %}
<div id="back2top"><i class="fa fa-angle-up"></i></div>
<div class="loader"></div>
<div class="page-wrap">
  <!--section-->
  {% partial 'banner' title="Контакты" %}

  <div id="contatcs-page">
    <div class="map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9f5add2bda1e68ec47b1c148354e14f9d47462100ff65cb7fdd10b4df5badf27&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
      <div class="container">
        <div class="about-block">
          <ul>
            <li><a href="">О компании</a></li>
            <li><a href="">Наши партнеры</a></li>
            <li><a href="">Работа в компании</a></li>
            <li><a href="">Акции и скидки</a></li>
            <li><a href="">Опросы и голосование</a></li>
            <li><a href="">Контакты</a></li>
          </ul>
          <div class="form-about">
            <p>Подпишись, чтобы<br>получать подарки</p>
            <input type="text" placeholder="Ваша электронная почта">
            <a class="select" href="">Подписаться</a>
            <div class="icons">
              <a class="vk" href=""><i class="fa fa-vk"></i></a>
              <a class="face" href=""><i class="fa fa-facebook-f"></i></a>
              <a class="inst" href=""><i class="fa fa-instagram"></i></a>
              <a class="gp" href=""><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contatcs-information">
      <div class="container">
        <div class="information">
          <div class="left info">
            <h4 class='bolder'>ФАКТИЧЕСКИЙ АДРЕС <br> МАГАЗИНА И САМОВЫВОЗ:</h4>
            <p>Г.Коломна, Ул.Зеленая 2</p>
            <p>Ежедневно: 10:00 - 22:00</p>
          </div>
          <div class="right info">
          <h4 class='bolder'>КОНТАКТЫ</h4>
            <p>
              <span>8(495) 589-89-49</span><br>
              <span>8(925) 589-89-49 (WhatsApp, Viber, Telegram)</span>
            </p>
            <h4>Отделы компании и электронная почта</h4>
            <p>Отдел приёма заказов: Tortikov.com@yandex.ru</p>
            <p>Отдел работы с корпоративными клиентами: Tortikov.com@yandex.ru</p>
            <h4>Отдел работы с партнерами, франчайзинг, сотрудничество:</h4>
            <p>manager.empire.delivery@ya.ru</p>
            <p>8(977) 101-89-77</p>
            <p>Отдел маркетинга, PR и рекламы, пресс-секретарь: Chistomitov@mail.ru</p>
            <h4>Центральный офис</h4>
            <p>Московская область, г.Коломна, ул.Ленина 103А</p>
          </div>
        </div>
      </div>
    </div>


    <div class="contacts-form">
      <div class="container">
        <div class="forms">

          <div class="left form">
            <h4 class='bolder'>РЕКВИЗИТЫ КОМПАНИИ</h4>
            <p>ИП Гуськов Александр Олегович</p>
            <br>
            <p>ОГРН 315502200009590</p>
            <p>ИНН 502239822409</p>
            <br>
            <p>p/c 40802810600000128932</p>
            <p>в АО "ТИНЬКОФФ БАНК"</p>
            <p>к/c 30101810145250000974</p>
            <p>БИК 044525974</p>
          </div>

          <div class="right form">
            <div class="input-left">
              <input type="text" placeholder="Имя">
              <input type="text" placeholder="Телефон">
              <input type="text" placeholder="Email">
              <a class="ps-btn" href="">ОТПРАВИТЬ</a>
            </div>
            <div class="input-right">
              <textarea name="name" rows="8" cols="50" placeholder="Сообщение..."></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>


  </div>




  <!--footer-->
  {% partial 'footer' %}
</div>
