title = "Новость"
url = "/novosti/:category/:slug"
layout = "default"
is_hidden = 0

[blogCategories]
slug = "{{ :category }}"
displayEmpty = 1
categoryPage = "novosti"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "kategorii"
==
{% partial 'searchbox' %}
    <div class="header--sidebar"></div>
    {% partial 'header' %}
    <div id="back2top"><i class="fa fa-angle-up"></i></div>
    <div class="loader"></div>
    <div class="page-wrap">
    {% partial 'banner' title=post.title %}
      <div class="ps-section--page-reverse">
        <div class="container">
          <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                  <div class="ps-blog-detail pt-80 pb-80">
                    <div class="ps-post">
                      <div class="ps-post__thumbnail">
                          <a class="ps-post__overlay" href="blog-detail.html"></a>
                          <img src="{{'assets/images/blog/img-blog-4.jpg' | theme}}" alt="">
                      </div>
                      <div class="ps-post__header">
                          <a class="ps-post__title" href="blog-detail.html">{{ post.title }}</a>
                        <div class="ps-post__meta">
                            <span>
                                <i class="fa fa-calendar-check-o"></i>
                                {{ post.published_at|date('d.m.Y') }}
                            </span>
                            <span class="hidden">
                                <i class="fa fa-comment-o"></i>24 Comments
                            </span>
                            <span class="tags hidden"><i class="fa fa-tags"></i>
                                <a href="blog-listing.html">Travel</a>
                                <a href="blog-listing.html">Summer</a>
                                <a href="blog-listing.html">Women</a>
                            </span></div>
                      </div>
                      <div class="ps-post__content">
                          {{ post.content | raw }}
                      </div>
                      <footer class="ps-post__footer">
                        <div class="row">
                              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="ps-post__tags"><i class="fa fa-tags"></i><a href="blog-listing.html">Travel</a><a href="blog-listing.html">Balkal</a><a href="blog-listing.html">Lake</a></div>
                              </div>
                              <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                                <div class="ps-post__action"><a class="like" href="#">Like<i class="fa fa-heart"></i><span><i>2</i></span></a><a class="facebook" href="#"><i class="fa fa-facebook"></i>Share</a><a class="twitter" href="#"><i class="fa fa-twitter"></i>Tweet</a></div>
                              </div>
                        </div>
                      </footer>
                    </div>

                    <!-- Comment-->
                    <div class="ps-blog-comment hidden">
                      <h3>Comments(2)</h3>
                      <div class="ps-comment">
                            <div class="ps-comment-box">
                              <div class="ps-comment-box__thumbnail"><img src="{{'assets/images/blog/people.png' | theme}}" alt=""></div>
                              <div class="ps-comment-box__content">
                                <h4>MARK GREY<span>15 minutes ago</span></h4>
                                <p>The development of the mass spectrometer allowed the mass of atoms to be measured with increased accuracy. The device uses</p><a href="#"><i class="fa fa-angle-right"></i>Replay</a>
                              </div>
                            </div>
                        <div class="ps-comment__replay">
                              <div class="ps-comment-box">
                                <div class="ps-comment-box__thumbnail"><img src="{{'assets/images/blog/people.png' | theme}}" alt=""></div>
                                <div class="ps-comment-box__content">
                                  <h4>MARK GREY<span>15 minutes ago</span></h4>
                                  <p>The development of the mass spectrometer allowed the mass of atoms to be measured with increased accuracy. The device uses</p><a href="#"><i class="fa fa-angle-right"></i>Replay</a>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                    <!--Contact-->
                    <div class="ps-contact hidden">
                      <h3>LEAVE A COMMENT</h3>
                      <form action="action" method="post">
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="First Name">
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                          <input class="form-control" type="text" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                          <select class="ps-select" data-placeholder="Popupar product">
                            <option value="01">Popular products</option>
                            <option value="01">Item 01</option>
                            <option value="02">Item 02</option>
                            <option value="03">Item 03</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" placeholder="Text your message here..." rows="6"></textarea>
                        </div>
                        <div class="form-group">
                          <button class="ps-btn ps-btn--sm ps-contact__submit">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                  <div class="ps-sidebar">
                    <aside class="ps-widget ps-widget--sidebar ps-widget--search">
                      <form method="post" action="search-result.html">
                        <input class="form-control" type="text" placeholder="Type here bakery name...">
                        <button type="submit"><i class="ps-icon--search"></i></button>
                      </form>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--category">
                      <div class="ps-widget__header">
                        <h3 class="ps-widget__title">Категории</h3>
                      </div>
                      <div class="ps-widget__content">
                        <ul class="ps-list--arrow">
                            {% for item in categories %}
                            <li {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
                                <a href="{{ item.url }}"><span class="circle"></span>{{ item.name }}</a>

                                {% if postCount %}
                                <span class="badge pull-right">{{ postCount }}</span>
                                {% endif %}
                            </li>
                            {% endfor  %}
                        </ul>
                      </div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--ads">
                      <div class="ps-widget__header">
                        <h3 class="ps-widget__title">Ads Banner</h3>
                      </div>
                      <div class="ps-widget__content"><img src="{{'assets/images/widget/banner2x.png' | theme}}" alt=""></div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--recent-post">
                      <div class="ps-widget__header">
                        <h3 class="ps-widget__title">Recent Post</h3>
                      </div>
                      <div class="ps-widget__content">
                        <div class="ps-post ps-post--sidebar">
                          <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="{{'assets/images/blog/thumbnail1.jpg' | theme}}" alt=""></div>
                          <div class="ps-post__content"><a href="#" data-number-line="2">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2015</span></div>
                        </div>
                        <div class="ps-post ps-post--sidebar">
                          <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="{{'assets/images/blog/thumbnail2.jpg' | theme}}" alt=""></div>
                          <div class="ps-post__content"><a href="#" data-number-line="2">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2015</span></div>
                        </div>
                        <div class="ps-post ps-post--sidebar">
                          <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="{{'assets/images/blog/thumbnail3.jpg' | theme}}" alt=""></div>
                          <div class="ps-post__content"><a href="#" data-number-line="2">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2015</span></div>
                        </div>
                      </div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--tags">
                      <div class="ps-widget__header">
                        <h3 class="ps-widget__title">TAGS</h3>
                      </div>
                      <div class="ps-widget__content">
                            <ul class="ps-tags">
                              <li><a href="#">Cupcake</a></li>
                              <li><a href="#">vanila</a></li>
                              <li><a href="#">sugar flower</a></li>
                              <li><a href="#">vanila</a></li>
                              <li><a href="#">coconut</a></li>
                              <li><a href="#">vanila</a></li>
                            </ul>
                      </div>
                    </aside>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <section class="ps-section ps-section--subscribe pt-80 pb-80">
        <div class="container">
          <div class="ps-subscribe">
            <div class="row">
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <h4>ABOUT US</h4>
                    <p>Te pri oblique ullamcorper, magna persequeris has eu. Mei prompta dolores examad debet suavitate. Pri te vocibus electram. Eu eleifend rationibus vis, at.</p>
                    <p class="text-uppercase ps-subscribe__highlight">240 CENTRAL PARK, LONDON, OR 10019</p>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 "><a class="ps-subscribe__logo" href="index.html"><img src="{{'assets/images/logo-1.png' | theme}}" alt=""></a>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <h4>SUBSCRIBE EMAIL</h4>
                    <p>Give us your email, and we shall send regular updates for new stuff and events.</p>
                    <form class="ps-subscribe__form" method="post" action="_action">
                      <input class="form-control" type="text" placeholder="Type your email...">
                      <button class="ps-btn ps-btn--sm">Subscribe</button>
                    </form>
                  </div>
            </div>
          </div>
        </div>
      </section>
    </div>

     {% partial 'footer' %}