title = "Товар"
url = "/catalog/:category/:slug"
layout = "default"
is_hidden = 0
==
<?php
function onStart(){
  $this['category'] = \snapix\sladostey\Models\Category::where('slug','=', $this->param('category'))->first();
  $this['product'] = \snapix\sladostey\Models\Product::where('slug','=', $this->param('slug'))->first();
}
?>
==
{% partial 'searchbox' %}

<div class="header--sidebar"></div>
{% partial 'header' %}
<div id="back2top"><i class="fa fa-angle-up"></i></div>
<div class="loader"></div>
<div class="page-wrap">

  <!-- Heros-->

  <div class="breadcrumbs">
    <div class="container">
     <ul>
       <li><a href="">Главная /</a></li>
       <li><a href=""></a></li>
       <li><a href="">{{ product.name }}</a></li>
     </ul>
   </div>
 </div>

 <div class="ps-section pt-80 pb-80">

  <div class="container">

    <div class="ps-product--detail">

      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

          <div class="product-images">
            <div class="big-image">
              <a href="{{  product.images[0].path }}">
                <img src="{{ product.images[0].path }}" alt="">
              </a>
            </div>
            <div class="gallery">
             {% for item in  product.images %}
             <img src="{{ item.path }}" alt="">
             {% endfor %}
           </div>
         </div>

       </div>

       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <div class="product-right">
          <div class="name bold">{{ product.name }}</div>
          <div class="price-block">
            <div class="price bolder">{{ product.price }} руб.</div>
            <div class="in_cart"><a class="bold" href="">В корзину</a></div>
          </div>
          <div class="attr">
            <ul>
              <li><span class="bolder">Вкус :</span> Яблоко</li>
              <li><span class="bolder">Упаковка :</span> Жестяная банка</li>
              <li><span class="bolder">Объем :</span> 255 мл</li>
            </ul>
          </div>

          <div class="form-product">
            <div class="head bold">Купить за секунду</div>

            <div class="form">
              <div class="bold">Введите номер:</div>
              <div><input class="bold" type="text" placeholder="Ваш телефон"></div>
              <div><a href="" class="bold">Отправить</a></div>
            </div>

            <div class="footer">
              <span>Нажимая на кнопку 'Отправить', я даю <span class="consent"> согласие </span> на обработку своих <span class="consent"> персональных данных</span></span>
            </div>
          </div>

        </div>

        <div class="mini-link">
          <div><i class="fa fa-truck" aria-hidden="true"></i></div>
          <div><a href="">Узнать цену, сроки и способ доставки товара</a></div>
        </div>
      </div>

    </div>

    <div class="ps-product__info">

      <ul class="tab-list" role="tablist">

        <li class="active"><a href="#tab_description" aria-controls="tab_description" role="tab" data-toggle="tab">Полное описание</a></li>

        <li><a href="#tab_reviews" aria-controls="tab_reviews" role="tab" data-toggle="tab">Отзывы</a></li>

      </ul>

    </div>

    <div class="tab-content mb-60">

      <div class="tab-pane active" role="tabpanel" id="tab_description">



        {{ product.full_description | raw }}



      </div>

      <div class="tab-pane" role="tabpanel" id="tab_reviews">

        <p>1 review for Cupcakes Red Flowers</p>

        <div class="ps-review-box">

          <div class="ps-review-box__thumbnail"><img src="{{'assets/images/blog/people.png' | theme}}" alt=""></div>

          <div class="ps-review-box__content">

            <header>

              <select class="ps-rating">

                <option value="1">1</option>

                <option value="1">2</option>

                <option value="1">3</option>

                <option value="1">4</option>

                <option value="5">5</option>

              </select>

              <p>By<a href=""> Alena Studio</a> - November 25, 2017</p>

            </header>

            <p>Soufflé danish gummi bears tart. Pie wafer icing. Gummies jelly beans powder. Chocolate bar pudding macaroon candy canes chocolate apple pie chocolate cake. Sweet caramels sesame snaps halvah bear claw wafer. Sweet roll soufflé muffin topping muffin brownie. Tart bear claw cake tiramisu chocolate bar gummies dragée lemon drops brownie.</p>

          </div>

        </div>

        <form class="ps-product__review" action="_action" method="post">

          <h4>ADD YOUR REVIEW</h4>

          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

              <div class="form-group">

                <label>Name:*<span>*</span></label>

                <input class="form-control" type="text" placeholder="">

              </div>

              <div class="form-group">

                <label>Email: *<span>*</span></label>

                <input class="form-control" type="email" placeholder="">

              </div>

              <div class="form-group">

                <label>Your rating<span></span></label>

                <select class="ps-rating">

                  <option value="1">1</option>

                  <option value="1">2</option>

                  <option value="1">3</option>

                  <option value="1">4</option>

                  <option value="5">5</option>

                </select>

              </div>

            </div>

            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">

              <div class="form-group">

                <label>Your Review:</label>

                <textarea class="form-control" rows="6"></textarea>

              </div>

              <div class="form-group">

                <button class="ps-btn ps-btn--sm">Submit</button>

              </div>

            </div>

          </div>

        </form>

      </div>

    </div>

  </div>

</div>

</div>



<section class="ps-section ps-section--best-seller pt-40 pb-100">

  <div class="container">

    <div class="ps-section__header text-center mb-50">

      <h4 class="ps-section__top">Еще из категории </h4>

      <h3 class="ps-section__title ps-section__title--full">{{ category.name }}</h3>

    </div>

    <div class="ps-section__content">

      <div class="owl-slider owl-slider--best-seller" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;ps-icon--back&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;ps-icon--next&quot;&gt;&lt;/i&gt;">



        {% for item in category.products %}

        <div class="ps-product">

          <div class="ps-product__thumbnail">

            <a class="ps-product__overlay"

            href="{{ 'tovar'|page({ category: category.slug, slug : item.slug }) }}"></a>

            <img src="{{ item.images[0].path }}" alt="">

            <ul class="ps-product__action">

              <li><a class="popup-modal" href="#quickview-modal" data-effect="mfp-zoom-out" data-tooltip="View"><i class="ps-icon--search"></i></a></li>

              <li><a href="#" data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>

              <li><a href="#" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>

              <li><a href="#" data-tooltip="Add to cart"><i class="ps-icon--shopping-cart"></i></a></li>

            </ul>

          </div>

          <div class="ps-product__content"><a class="ps-product__title" href="product-detail.html">{{ item.name }}</a>

            <div class="ps-product__category">

              <a class="ps-product__category" href="{{ 'kategorii'|page({ slug: category.slug }) }}">{{ category.name }}</a>

            </div>

            <select class="ps-rating">

              <option value="1">1</option>

              <option value="1">2</option>

              <option value="1">3</option>

              <option value="1">4</option>

              <option value="5">5</option>

            </select>

            <p class="ps-product__price">{{ item.price }} руб.</p>

          </div>

        </div>

        {% endfor %}

      </div>

    </div>

  </div>

</section>

<section class="ps-section ps-section--subscribe pt-80 pb-80">

  <div class="container">

    <div class="ps-subscribe">

      <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">

              <h4>SLADOSTEY.COM</h4>

              <p>Оптовый и розничный интернет-магазин эксклюзивных сладостей со всего мира,
                с доставкой по всей России. Бесплатная доставка в любой город России,
                при заказе свыше 2000 рублей.</p>

              <p class="text-uppercase ps-subscribe__highlight">г. Коломна, ул. Ленина, д. 20</p>

            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 "><a class="ps-subscribe__logo" href="index.html"><img src="{{'assets/images/logo.png' | theme}}" alt=""></a>

            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">

              <h4>Подписка</h4>

              <p>Подписывайтесь на наши новости, чтобы быть в курсе о всех проходящих конкурсах и акциях.</p>

              <form class="ps-subscribe__form" method="post" action="_action">

                <input class="form-control" type="text" placeholder="Введите свой email...">

                <button class="ps-btn ps-btn--sm">Подписаться</button>

              </form>

            </div>

      </div>

    </div>

  </div>

</section>

<!--footer-->

{% partial 'footer' %}

<div class="modal-popup mfp-with-anim mfp-hide" id="quickview-modal" tabindex="-1">

  <button class="modal-close"><i class="fa fa-remove"></i></button>

  <div class="ps-product-modal ps-product--detail clearfix">

    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">

      <div class="ps-product__thumbnail">

        <div class="quickview--main" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">

          <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-12.jpg' | theme}}" alt=""></div>

          <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-11.jpg' | theme}}" alt=""></div>

          <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-10.jpg' | theme}}" alt=""></div>

          <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-6.jpg' | theme}}" alt=""></div>

          <div class="ps-product__image"><img src="{{'assets/images/cake/img-cake-5.jpg' | theme}}" alt=""></div>

        </div>

        <div class="quickview--thumbnail" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="20" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;"><img src="{{'assets/images/cake/img-cake-12.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-11.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-10.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-6.jpg' | theme}}" alt=""><img src="{{'assets/images/cake/img-cake-5.jpg' | theme}}" alt=""></div>

      </div>

    </div>

    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">

      <header>

        <h3 class="ps-product__name">Anytime Cakes</h3>

        <select class="ps-rating">

          <option value="1">1</option>

          <option value="1">2</option>

          <option value="1">3</option>

          <option value="1">4</option>

          <option value="5">5</option>

        </select>

        <p class="ps-product__price">£15.00 <del>£25.00</del></p>

        <div class="ps-product__meta">

          <p><span> Availability: </span> In stock</p>

          <p class="category"><span>CATEGORIES: </span><a href="product-grid.html">Cupcake</a>,<a href="product-grid.html">organic</a>,<a href="product-grid.html"> sugar</a>,<a href="product-grid.html"> sweet</a>,<a href="product-grid.html"> bio</a></p>

        </div>

        <div class="form-group ps-product__size">

          <label>Size:</label>

          <select class="ps-select" data-placeholder="Popupar product">

            <option value="01">Choose a option</option>

            <option value="01">Item 01</option>

            <option value="02">Item 02</option>

            <option value="03">Item 03</option>

          </select>

        </div>

        <div class="ps-product__shop">

          <div class="form-group--number">

            <button class="minus"><span>-</span></button>

            <input class="form-control" type="text" value="1">

            <button class="plus"><span>+</span></button>

          </div>

          <ul class="ps-product__action">

            <li><a href="#" data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>

            <li><a href="#" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>

          </ul>

        </div>

      </header>

      <footer><a class="ps-btn--fullwidth ps-btn ps-btn--sm" href="#">Purchase<i class="fa fa-angle-right"></i></a>

        <p class="ps-product__sharing">Share with:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-twitter"></i></a></p>

      </footer>

    </div>

  </div>

</div>

</div>



{% put scripts %}

<script>

  $(function(){

    let qty = $('#qty');



    $('.plus').click(function () {

      $(qty).val( +$(qty).val() + 1 );

    });



    $('.minus').click(function () {

     +$(qty).val() > 1 ? $(qty).val( +$(qty).val() - 1 ) : '';

   });

  })

</script>

{% endput %}
