title = "zaglushka"
url = "/zaglushka"
layout = "zaglushka"
description = "Страница заглушка"
is_hidden = 0
==
<section id="zaglushka">
	
	<div class="main-content">


		<div class="text">
			<p>S L A <br> D O S <br> T E Y</p>
		</div>

		<div class="bottom-text">
			<p>совсем скоро открытие!</p>
		</div>

	</div>


</section>