description = "Default layout"



[genericForm HomePageForm]

messages_success = "Your form was successfully submitted"

messages_errors = "There were errors with your submission"

inline_errors = "disabled"

sanitize_data = "disabled"

anonymize_ip = "disabled"

recaptcha_theme = "light"

recaptcha_type = "image"

recaptcha_size = "normal"



[\snapix\sladostey\components\Cart Cart]



==

<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">

        <title>{{ this.page.title }}</title>

        <meta name="description" content="{{ this.page.meta_description }}">

        <meta name="title" content="{{ this.page.meta_title }}">

        <meta name="author" content="Snapix.ru">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="generator" content="snapix.ru">

        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">



        <link rel="stylesheet" href="{{'assets/js/plugins/font-awesome/css/font-awesome.min.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/ps-icon/ps-icon.css' | theme}}">



        <link rel="stylesheet" href="{{'assets/js/plugins/bootstrap/dist/css/bootstrap.min.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/owl-carousel/assets/owl.carousel.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' | theme}}">





        <link rel="stylesheet" href="{{'assets/js/plugins/Magnific-Popup/dist/magnific-popup.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/jquery-ui/jquery-ui.min.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css' | theme}}">



        <link rel="stylesheet" href="{{'assets/js/plugins/slick/slick/slick.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/lightGallery-master/dist/css/lightgallery.min.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/revolution/css/settings.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/revolution/css/layers.css' | theme}}">

        <link rel="stylesheet" href="{{'assets/js/plugins/revolution/css/navigation.css' | theme}}">

        <link rel="stylesheet" href="{{ ['assets/less/theme.less'] | theme}}">



        {% styles %}

    </head>

    <body class="page-init">





        <section id="layout-content">

            {% page %}
            {% partial 'cart-modal' %}
        </section>



        {% component 'genericForm' %}





        <!-- Scripts -->

        <script src="{{ 'assets/js/plugins/jquery/dist/jquery.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/bootstrap/dist/js/bootstrap.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/owl-carousel/owl.carousel.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/overflow-text.js'|theme }}"></script>



        <script src="{{ 'assets/js/plugins/masonry.pkgd.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/imagesloaded.pkgd.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/jquery-bar-rating/dist/jquery.barrating.min.js'|theme }}"></script>



        <script src="{{ 'assets/js/plugins/jquery-nice-select/js/jquery.nice-select.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/jquery-ui/jquery-ui.min.js'|theme }}"></script>



        <script src="{{ 'assets/js/plugins/moment.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/slick/slick/slick.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/lightGallery-master/dist/js/lightgallery-all.min.js'|theme }}"></script>



        <script src="{{ 'assets/js/plugins/revolution/js/jquery.themepunch.tools.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/revolution/js/jquery.themepunch.revolution.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/revolution/js/extensions/revolution.extension.video.min.js'|theme }}"></script>



        <script src="{{ 'assets/js/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/revolution/js/extensions/revolution.extension.navigation.min.js'|theme }}"></script>



        <script src="{{ 'assets/js/plugins/revolution/js/extensions/revolution.extension.parallax.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins/revolution/js/extensions/revolution.extension.actions.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/main.js'|theme }}"></script>



        {% framework extras %}

        {% scripts %}



    </body>

</html>
