==
<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">

        <title>{{ this.page.title }}</title>

        <meta name="description" content="{{ this.page.meta_description }}">

        <meta name="title" content="{{ this.page.meta_title }}">

        <meta name="author" content="Snapix.ru">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="generator" content="snapix.ru">


        <link rel="stylesheet" href="{{ ['assets/less/theme.less'] | theme}}">



        {% styles %}

    </head>

    <body class="page-init">





        <section id="layout-content">

            {% page %}

        </section>




        

        {% framework extras %}

        {% scripts %}



    </body>

</html>