

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">

  <div class="ps-product">

    <div class="ps-product__thumbnail">



        <div class="ps-badge ps-badge--new"><span>Новый</span></div>



      <a class="ps-product__overlay" href="{{ 'tovar'|page({ category: category.slug, slug : product.slug }) }}"></a>



      <img src="{{ product.images[0].path }}" alt="">

      <ul class="ps-product__action">

        <li>

          <a class="popup-modal" href="#quickview-modal" data-effect="mfp-zoom-out" data-tooltip="View">

            <i class="ps-icon--search"></i>

          </a>

        </li>

        <li><a href="#" data-tooltip="Добавить в желаемое"><i class="ps-icon--heart"></i></a></li>

        <li><a href="#" data-tooltip="Сравнить"><i class="ps-icon--reload"></i></a></li>

        <li><a

               data-request="onAddToCart"

               data-request-data="id : {{ product.id }}, qty : 1"

               data-request-success="console.log(data)"

               data-tooltip="В корзину"><i class="ps-icon--shopping-cart"></i></a></li>

      </ul>

    </div>



    <div class="ps-product__content"><a class="ps-product__title" href="{{ 'tovar'|page({ category: category.slug, slug : product.slug }) }}">{{ product.name }}</a>
      <p>{{ product.price }} руб.</p>

      <div class="">

        <a class="" href="{{ 'kategorii'|page({ slug : category.slug }) }}">

            {{ category.name }}

        </a>

        <a href="#modal-cart" class="btn btn-primary" data-toggle="modal">БЫСТРЫЙ ЗАКАЗ</a>

      </div>



      <select class="ps-rating">

        <option value="{{ rating[0] }}">{{ rating[0] }}</option>

        <option value="{{ rating[1] }}">{{ rating[1] }}</option>

        <option value="{{ rating[2] }}">{{ rating[2] }}</option>

        <option value="{{ rating[3] }}">{{ rating[3] }}</option>

        <option value="{{ rating[4] }}">{{ rating[4] }}</option>

      </select>



      <p class="ps-product__price">

          {% if obOffer.isNotEmpty()%}

            {{ obOffer.price }} {{ obOffer.currency }}

          {% endif %}</p>

    </div>

  </div>





</div>
