==


<div class="flex column order1">

  <div class="ps-cart-item">
    <a href="" class="ps-cart-item__close remove"></a>
  </div>

  <div class="ps-cart__total">
      <p>Number of items:<span>36</span></p>
      <p>Итого:<span>{{ cart.total }} руб.</span></p>
  </div>

  <div class="ps-cart__footer"><a class="ps-btn ps-btn--view-bag" href="{{ 'cart' | page }}">Корзина</a></div>
</div>


<div class="ps-cart__footer"><p class="h4 text-center light">Корзина пуста</p></div>
