<div id="modal-cart" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modal-title">Ваш заказ</h5>
        <p>Бесплатная доставка при заказе на сумму больше 3500руб, Вам нужно выбрать еще на 1765 руб</p>
        
        <div class="header-btn">
          <a href="" class="btn-cart-modal white">продожить покупки</a>
          <a href="" class="btn-cart-modal blue">оформить заказ</a>
        </div>

      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">

        {% if Cart.items %}


        {% for item in Cart.items %}

        <div class="cart-product">
          <div class="image-product">
            <img src="{{ 'assets/images/cake/img-cake-1.jpg' | theme }}" alt="">
          </div>

          <div class="info-product">

            <div class="item">
              <ul>
                <li>{{ item.name }}</li>
                <li>Цвет: Красный</li>
                <li>{{ item.price }} руб.</li>
              </ul>
            </div>

            <div class="item item-quantity">
              <span class="cart-plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
              <input type="number" value="{{ item.qty }}">
              <span class="cart-minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
            </div>
          </div>

          <div class="button-product">
            <a href="" class='btn-cart-modal white'>Удалить товар</a>
          </div>
        </div>

        {% endfor %}

        {% else %}


        <div>Корзина пуста</div>

        {% endif %}




      </div>
    </div>
  </div>
</div>