<div id="footer">
  <div class="container">


   <div class="items">
    <div class="left">
      <div class="phone item">
        <h2 class="margin-0">8 985 387-74-38</h2>
        <a href="">WhatsApp</a> | <a href="">Viber</a>
      </div>
      <div class="social item">
        <p class="margin-0">Социальные сети:</p>
        <img src="{{ 'assets/images/social_payment/facebook.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/google-plus.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/twiter.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/vk-social-logotype.png' | theme }}" alt="">
      </div>
      <div class="email item">
        <span><i class="fa fa-envelope" aria-hidden="true"></i> main@gmail.com</span>
      </div>
      <div class="icons item">
        <img src="{{ 'assets/images/social_payment/mastercard.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/yandex.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/webmoney.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/visa.png' | theme }}" alt="">
        <img src="{{ 'assets/images/social_payment/qiwi_sign_rgb.png' | theme }}" alt="">
      </div>
    </div>

    <div class="right">
      <div class="header-footer">
        <div><h3 class="bolder">ИМПОРТНЫЕ СЛАДОСТИ СО ВСЕГО МИРА</h3></div>
        <div><span>
          КРУГЛОСУТОЧНО 
          <img class='open-hours' src="{{ 'assets/images/social_payment/24-hours.png' | theme }}" alt="">
          БЕЗ ВЫХОДНЫХ</span>
       </div>
        <div class="border-footer"></div>
      </div>

      <div class="bottom-navigation">
        <ul>
          <li>О НАС</li>
          <li><a href="">Наши отделы</a></li>
          <li><a href="">Партнеры</a></li>
          <li><a href="">Персонал</a></li>
          <li><a href="">Вакансии</a></li>
          <li><a href="">Благотворительсность</a></li>
          <li><a href="">Документы</a></li>
        </ul>

        <ul>
          <li>ОБЩАЯ ИНФОРМАЦИЯ</li>
          <li><a href="">Конфиденциальность</a></li>
          <li><a href="">О компании</a></li>
          <li><a href="">Правила пользования</a></li>
          <li><a href="">График работы</a></li>
          <li><a href="">Оказания услуг</a></li>
          <li><a href="">Достижения</a></li>
        </ul>

        <ul>
          <li>ДЛЯ КЛИЕНТА</li>
          <li><a href="">Наши цены</a></li>
          <li><a href="">Гарантии</a></li>
          <li><a href="">Скидочные карты</a></li>
          <li><a href="">Оптовикам</a></li>
          <li><a href="">Сопутствующие услуги</a></li>
          <li><a href="">Поддержка</a></li>
        </ul>

        <ul>
          <li>УСЛОВИЯ</li>
          <li><a href="">Акции</a></li>
          <li><a href="">Возврат</a></li>
          <li><a href="">Корпоративным клиентам</a></li>
          <li><a href="">Как мы работаем</a></li>
        </ul>



      </div>


    </div>


  </div>


</div>
</div>