<header class="header" data-responsive="1199">
  <div class="header__top">
    <div class="container">
      <div class="all-block">

        <ul class="elem elem-left">
          <li class="item">Г.Коломна, Ул.Зеленая 2</li>
          <li class="item d-xl-none">info@sladostey.ru</li>
          <li class="item icons-soc d-xl-none">
            <a href="">  <img src="{{ 'assets/images/header/vk.svg' | theme }}" alt=""></a>
            <a href=""><img src="{{ 'assets/images/header/inst.png' | theme }}" alt=""></a>
          </li>
        </ul>

        <ul class="elem elem-right">
          <li class="item header-num-mobile d-xl-none">8(495)589-89-49</li>
          <li class="item d-xl-none"><a class="zakaz" href="">Сделать заказ</a></li>
          <li class="item d-xl-none square-min" ><a href=""><i class="ps-icon--reload"></i></a></li>
          <li class="item d-xl-none square-min"><a href=""><i class="ps-icon--heart"></i></a></li>
          <li class="item square-min"><a href="#" class="ps-search-btn"><i class="ps-icon--search"></i></a></li>
        </ul>

      </div>
    </div>
  </div>
  {% partial 'nav' logo='logo-dark.png' %}
</header>
