
<nav class="navigation">
    <div class="container">
        <div class="menu-toggle"><span></span></div>
        <div class="navigation__left">
            <ul class="menu menu--left">
                <li class=""><a href="/">Главная</a>
                </li>
                <li class=""><a href="{{'kategorii' | page({ slug : '' }) }}">Магазин</a></li>
                <li><a href="{{ 'about' | page }}">ДОСТАВКА И ОПЛАТА</a></li>
            </ul>
        </div>

        <a class="ps-logo" href="{{ 'home'|page }}">

            {% if (logo) %}
            <img src="{{'assets/images/logo-dark.png' | theme}}" alt="">
            {% else  %}
            <img src="{{'assets/images/logo.png' | theme}}" alt="">
            {% endif %}
        </a>
        <div class="navigation__right">
            <ul class="menu menu--right">

                <li><a href="#">Галерея</a></li>
                <li class=""><a href="{{ 'novosti' | page }}">Новости</a>

                </li>
                <li class=""><a href="{{ 'kontakty' | page }}">Контакты</a>

                </li>
            </ul>
            {% component 'Cart' %}
    </div>
</nav>
