
<div class="ps-cart">
    <a class="ps-cart__toggle" href="{{ 'cart'|page }}"><span>
        <div class="count-cart">

            {% partial '@cart-qty' item=__SELF__.qty %}

        </div>

        </span><i class="ps-icon--shopping-cart"></i>
    </a>
    <div class="ps-cart__listing" id="#cart-nav-contents">
        <div class="ps-cart__content flex column">



          <div class="flex column order1 asdas">

            <div class="add-item">
                {% for item in __SELF__.name %}
                  {% partial '@cart-item' item=item %}
                {% endfor %}
            </div>

            <div class="ps-cart__footer"><p class="h4 text-center light">Корзина пуста</p></div>


            <div class="ps-cart__total">
                <p>Number of items:<span>36</span></p>
                <p>Итого:<span class="total-cart"> {% partial '@cart-price' item=__SELF__.total %} </span></p>
            </div>
            <div><a href="" data-request="onClearCart">Очистить корзину</a></div>
            <div class="ps-cart__footer"><a class="ps-btn ps-btn--view-bag" href="{{ 'cart' | page }}">Корзина</a></div>
          </div>
        </div>
    </div>

</div>
