[viewBag]
==

<form data-request="{{ __SELF__ }}::onFormSubmit" class="ps-delivery__form" action="product-listing.html" method="post">
     {{ form_token() }}
  <div class="form-group">
    <label>Ваше имя<span>*</span></label>
    <input class="form-control" type="text">
  </div>
  <div class="form-group">
    <label>Ваш email<span>*</span></label>
    <input class="form-control" type="email">
  </div>
  <div class="form-group">
    <label>Номер телефона<span>*</span></label>
    <input class="form-control" type="text">
  </div>
  <div class="form-group">
    <label>Ваше сообщение<span>*</span></label>
    <textarea class="form-control"></textarea>
  </div>
  <div class="form-group text-center">
    <button class="ps-btn">Отправить<i class="fa fa-angle-right"></i></button>
  </div>

    <div class="form-group">
        {% partial '@recaptcha' %}
    </div>


    <div id="{{ __SELF__ }}_forms_flash"></div>

</form>


