<div class="ps-cart-item">
  <a href="" class="ps-cart-item__close remove"></a>
  <div class="ps-cart-item__thumbnail">
    <a href=""> <img src="{{ item.img }}" alt=""> </a>
  </div>
  <div class="ps-cart-item__content">
    <div class="ps-cart-item__title">{{ item.name }}</div>
    <div class="ps-cart-item__price">{{ item.price }} руб.</div>
  </div>
</div>
